flows/cf_devices_overview_flow.json
[{"id":"ea0ca26.ce2656","type":"ibmiot in","z":"7233a942.15cbe8","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"","eventType":"","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":110,"y":220,"wires":[["e65ef793.e7ad18"]]},{"id":"7acee1a6.dbdd5","type":"ui_template","z":"7233a942.15cbe8","group":"30e281c6.ba8c2e","name":"","order":0,"width":"25","height":"11","format":"\n<!--<script src=\"https://use.fontawesome.com/71a06d9e15.js\"></script> -->\n\n<!--<div ng-bind-html=\"msg.payload\"></div>-->\n\n\n<style>\n    {{ msg.style }}\n</style>\n\n<table>\n    <tr>\n        <th>Device Id</th>\n        <th>Device Type</th>\n        <th># messages</th>\n        <th>Last update</th> \n    </tr>\n    <tr ng-repeat=\"o in msg.payload\">\n        <td>{{ o.deviceId }}</td>\n        <td>{{ o.deviceType }}</td>\n        <td>{{ o.msgCount }}</td>\n        <td>{{ o.ts }}</td>\n    </tr>\n</table>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":820,"y":360,"wires":[[]]},{"id":"3c76e49a.d5626c","type":"template","z":"7233a942.15cbe8","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"[\n    {\"deviceId\":\"proxyDevice\",\"deviceType\":\"ProxyDeviceType\",\"msgCount\":25,\"ts\":\"13:46:40 28.02.2019\"},\n    {\"deviceId\":\"device2\",\"deviceType\":\"NBIoTDeviceType\",\"msgCount\":12,\"ts\":\"13:46:40 28.02.2019\"}\n]\n    ","x":380,"y":320,"wires":[["cd0046f7.bec518"]]},{"id":"8ab31b98.8bc8c8","type":"inject","z":"7233a942.15cbe8","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":true,"onceDelay":"","x":150,"y":420,"wires":[["3e9cdb2a.9be494"]]},{"id":"cd0046f7.bec518","type":"json","z":"7233a942.15cbe8","name":"","pretty":false,"x":530,"y":320,"wires":[["67718842.1e7bf8"]]},{"id":"67718842.1e7bf8","type":"template","z":"7233a942.15cbe8","name":"css","field":"style","fieldType":"msg","format":"html","syntax":"mustache","template":"table {\n    color: #333;\n    font-family: Helvetica, Arial, sans-serif;\n    width: 100%;\n    border-collapse: collapse;\n    border-spacing: 2;\n}\ntd, th {\n    border: 1px solid transparent;\n    /* No more visible border */\n    height: 35px;\n    padding: 2px;\n    text-align: left;\n    /* transition: all 0.3s; Simple transition for hover effect */\n}\nth {\n    background: #0094CE;\n    /* Darken header a bit */\n    font-weight: bold;\n    color: white;\n}\ntd {\n    background: #FAFAFA;\n}\n\n/* Cells in even rows (2,4,6...) are one color */\n\ntr:nth-child(even) td {\n    background: #F1F1F1;\n}\n\n/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */\n\ntr:nth-child(odd) td {\n    background: #FEFEFE;\n}\ntr:hover {\n    background-color: #ffff99;\n}\n\n.Alert {\n    color: red;\n    font-weight: bold;\n}\n\n.Action {\n    color: green;\n    font-weight: bold;\n}","x":670,"y":360,"wires":[["7acee1a6.dbdd5"]]},{"id":"3e9cdb2a.9be494","type":"function","z":"7233a942.15cbe8","name":"Read device statistics","func":"m = global.get(\"devices\") || new Set([]);\n\nvar array = [];\nm.forEach(function(key) {\n  array.push(global.get(key));\n});\n\nmsg.payload = array;\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":420,"wires":[["67718842.1e7bf8","9e6175cb.0a6418"]]},{"id":"363076e0.83e21a","type":"ui_button","z":"7233a942.15cbe8","name":"","group":"a255327e.503b3","order":0,"width":"2","height":"1","passthru":false,"label":"Reset","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":110,"y":480,"wires":[["fc9c45e8.653c38"]]},{"id":"fc9c45e8.653c38","type":"function","z":"7233a942.15cbe8","name":"reset","func":"global.set(\"devices\", new Set([]));\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":480,"wires":[["3e9cdb2a.9be494"]]},{"id":"a1bf7436.d5bba8","type":"function","z":"7233a942.15cbe8","name":"Count msgs","func":"var m = global.get(\"devices\") || new Set([]);\n\nvar key = msg.deviceType + \".\" + msg.deviceId;\n\nvar entry;\n\nif (m.has(key)) {\n    entry = global.get(key);\n    entry.msgCount++;\n    entry.ts = msg.ts;\n} else {\n    entry = {\n        deviceId : msg.deviceId,\n        deviceType : msg.deviceType,\n        msgCount : 1,\n        ts : msg.ts\n    }\n}\nmsg.entry = entry;\nm.add(key);\nglobal.set(\"devices\", m);\nglobal.set(key, entry);\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":220,"wires":[["3ee94a38.4c3436"]]},{"id":"e65ef793.e7ad18","type":"moment","z":"7233a942.15cbe8","name":"","topic":"","input":"","inputType":"date","inTz":"ETC/GMT","adjAmount":0,"adjType":"days","adjDir":"add","format":"HH:mm:ss DD.MM.YYYY","locale":"cs_CZ","output":"ts","outputType":"msg","outTz":"Europe/Prague","x":320,"y":220,"wires":[["a1bf7436.d5bba8"]]},{"id":"3ee94a38.4c3436","type":"debug","z":"7233a942.15cbe8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":830,"y":220,"wires":[]},{"id":"9e6175cb.0a6418","type":"debug","z":"7233a942.15cbe8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":420,"wires":[]},{"id":"94f10918.619d48","type":"inject","z":"7233a942.15cbe8","name":"Insert dummy data","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":320,"wires":[["3c76e49a.d5626c"]]},{"id":"30e281c6.ba8c2e","type":"ui_group","z":"","name":"Devices overview","tab":"bb0d133.02a71f","order":1,"disp":false,"width":"25","collapse":false},{"id":"a255327e.503b3","type":"ui_group","z":"","name":"Reset button","tab":"bb0d133.02a71f","disp":false,"width":"2","collapse":false},{"id":"bb0d133.02a71f","type":"ui_tab","z":"","name":"Devices overview","icon":"list","disabled":false,"hidden":false}]