flows/cf_ui_4_device1_flow.json
[{"id":"6d3e9cd5.8388f4","type":"ibmiot in","z":"8457c438.68ad38","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"device1","applicationId":"","deviceType":"NBIoTDeviceType","eventType":"event","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":"","allCommands":"","allFormats":"","qos":0,"x":120,"y":200,"wires":[["735fc32b.926cdc","c2754fba.6e0f2","c7e84cec.c1058","7c9d0beb.749b04","bf3c3a8d.285f78","9ae307e3.62ccd8","fcec127c.b05b3","11075950.f0cee7","f2c5b99a.8913d8","b63377f5.dbcb48","ce2908a9.fdd848","4b9d9a5a.ac6464","d152df2b.77134","e2238bea.f7da98","5a712d4d.163294","f89609b2.d43808"]]},{"id":"c9f0c28b.ee66b","type":"ui_chart","z":"8457c438.68ad38","name":"","group":"32bf5318.e50efc","order":0,"width":"18","height":"7","label":"Example data1","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":560,"y":180,"wires":[[],[]]},{"id":"735fc32b.926cdc","type":"function","z":"8457c438.68ad38","name":"data1","func":"msg.payload = msg.payload.d.data1;\nmsg.topic = \"data1\";\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":180,"wires":[["c9f0c28b.ee66b"]]},{"id":"1cef70cf.465e6f","type":"ui_chart","z":"8457c438.68ad38","name":"","group":"32bf5318.e50efc","order":0,"width":"18","height":"7","label":"Example data2","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#ff9300","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":560,"y":220,"wires":[[],[]]},{"id":"c2754fba.6e0f2","type":"function","z":"8457c438.68ad38","name":"data2","func":"msg.payload = msg.payload.d.data2;\nmsg.topic = \"data2\";\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":220,"wires":[["1cef70cf.465e6f"]]},{"id":"c7e84cec.c1058","type":"debug","z":"8457c438.68ad38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":350,"y":100,"wires":[]},{"id":"7c9d0beb.749b04","type":"ui_text","z":"8457c438.68ad38","group":"2331a55d.9e61ca","order":1,"width":0,"height":0,"name":"","label":"CSQ","format":"{{msg.payload.d.CSQ}} dBm","layout":"row-spread","x":350,"y":260,"wires":[]},{"id":"bf3c3a8d.285f78","type":"ui_text","z":"8457c438.68ad38","group":"2331a55d.9e61ca","order":2,"width":0,"height":0,"name":"","label":"Signal power","format":"{{msg.payload.d.signal_power}} dBm","layout":"row-spread","x":370,"y":299,"wires":[]},{"id":"11075950.f0cee7","type":"ui_text","z":"8457c438.68ad38","group":"2331a55d.9e61ca","order":5,"width":0,"height":0,"name":"","label":"TX time","format":"{{msg.payload.d.tx_time}} msec","layout":"row-spread","x":360,"y":419,"wires":[]},{"id":"fcec127c.b05b3","type":"ui_text","z":"8457c438.68ad38","group":"2331a55d.9e61ca","order":4,"width":0,"height":0,"name":"","label":"TX power","format":"{{msg.payload.d.tx_power}} dBm","layout":"row-spread","x":360,"y":379,"wires":[]},{"id":"9ae307e3.62ccd8","type":"ui_text","z":"8457c438.68ad38","group":"2331a55d.9e61ca","order":3,"width":0,"height":0,"name":"","label":"Total power","format":"{{msg.payload.d.total_power}} dBm","layout":"row-spread","x":370,"y":339,"wires":[]},{"id":"f2c5b99a.8913d8","type":"ui_text","z":"8457c438.68ad38","group":"2331a55d.9e61ca","order":6,"width":0,"height":0,"name":"","label":"RX time","format":"{{msg.payload.d.rx_time}} msec","layout":"row-spread","x":360,"y":459,"wires":[]},{"id":"b63377f5.dbcb48","type":"ui_text","z":"8457c438.68ad38","group":"2331a55d.9e61ca","order":7,"width":0,"height":0,"name":"","label":"Cell ID","format":"{{msg.payload.d.cell_id}}","layout":"row-spread","x":350,"y":498,"wires":[]},{"id":"d152df2b.77134","type":"ui_text","z":"8457c438.68ad38","group":"2331a55d.9e61ca","order":10,"width":0,"height":0,"name":"","label":"EARFCN","format":"{{msg.payload.d.EARFCN}}","layout":"row-spread","x":360,"y":618,"wires":[]},{"id":"4b9d9a5a.ac6464","type":"ui_text","z":"8457c438.68ad38","group":"2331a55d.9e61ca","order":9,"width":0,"height":0,"name":"","label":"SNR","format":"{{msg.payload.d.SNR}} dB","layout":"row-spread","x":350,"y":578,"wires":[]},{"id":"ce2908a9.fdd848","type":"ui_text","z":"8457c438.68ad38","group":"2331a55d.9e61ca","order":8,"width":0,"height":0,"name":"","label":"ECL","format":"{{msg.payload.d.ECL}}","layout":"row-spread","x":350,"y":538,"wires":[]},{"id":"e2238bea.f7da98","type":"ui_text","z":"8457c438.68ad38","group":"2331a55d.9e61ca","order":11,"width":0,"height":0,"name":"","label":"PCI","format":"{{msg.payload.d.PCI}}","layout":"row-spread","x":350,"y":659,"wires":[]},{"id":"74932ad0.dc55e4","type":"ui_text","z":"8457c438.68ad38","group":"2331a55d.9e61ca","order":13,"width":0,"height":0,"name":"","label":"Last update:","format":"{{msg.payload}}","layout":"row-spread","x":650,"y":740,"wires":[]},{"id":"5a712d4d.163294","type":"moment","z":"8457c438.68ad38","name":"","topic":"","input":"payload.d.ts_utc","inputType":"msg","inTz":"ETC/GMT","adjAmount":0,"adjType":"days","adjDir":"add","format":"HH:mm:ss DD.MM.YYYY","locale":"cs_CZ","output":"payload","outputType":"msg","outTz":"Europe/Prague","x":400,"y":740,"wires":[["74932ad0.dc55e4"]]},{"id":"f89609b2.d43808","type":"ui_text","z":"8457c438.68ad38","group":"2331a55d.9e61ca","order":12,"width":0,"height":0,"name":"","label":"RSRQ","format":"{{msg.payload.d.RSRQ}}","layout":"row-spread","x":350,"y":700,"wires":[]},{"id":"32bf5318.e50efc","type":"ui_group","z":"","name":"device1 data","tab":"1f07ef2d.973571","order":2,"disp":false,"width":"18","collapse":false},{"id":"2331a55d.9e61ca","type":"ui_group","z":"","name":"About","tab":"1f07ef2d.973571","order":1,"disp":true,"width":"6","collapse":false},{"id":"1f07ef2d.973571","type":"ui_tab","z":"","name":"Device1","icon":"dashboard","disabled":false,"hidden":false}]