flows/k8s_udp_to_wiotp_flow.json
[{"id":"91487f72.9ca24","type":"debug","z":"4f9d84c3.a3f96c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":590,"y":400,"wires":[]},{"id":"3daeb258.887d1e","type":"wiotp out","z":"4f9d84c3.a3f96c","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"39d38f16.57624","deviceType":"","deviceId":"","event":"udpEvent","format":"json","qos":"2","name":"","x":900,"y":320,"wires":[]},{"id":"f2d28111.cd1a2","type":"function","z":"4f9d84c3.a3f96c","name":"create payload","func":"\nmsg.payload = {\n    udpData: msg.payload,\n    ip: msg.ip,\n    port: msg.port,\n    ts_utc: new Date()\n};\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":320,"wires":[["3daeb258.887d1e"]]},{"id":"78f2a41e.b8b34c","type":"udp in","z":"4f9d84c3.a3f96c","name":"","iface":"","port":"1882","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":360,"y":320,"wires":[["91487f72.9ca24","f2d28111.cd1a2"]]},{"id":"39d38f16.57624","type":"wiotp-credentials","z":"","name":"","org":"xxxxxx","serverName":"xxxxxx.messaging.internetofthings.ibmcloud.com","devType":"ProxyDeviceType","devId":"proxyDevice","keepalive":"60","cleansession":true,"tls":"","usetls":false}]